<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidadvance.surveylib">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Surveylib">
        <activity
            android:name=".androidsurvey.fragment.FragmentTextSimple"
            android:exported="false" />
        <activity
            android:name=".androidsurvey.fragment.FragmentStart"
            android:exported="false" />
        <activity
            android:name=".androidsurvey.fragment.FragmentRadioboxes"
            android:exported="false" />
        <activity
            android:name=".androidsurvey.fragment.FragmentNumber"
            android:exported="false" />
        <activity
            android:name=".androidsurvey.fragment.FragmentMultiline"
            android:exported="false" />
        <activity
            android:name=".androidsurvey.fragment.FragmentEnd"
            android:exported="false" />
        <activity
            android:name=".androidsurvey.fragment.FragmentCheckboxes"
            android:exported="false" />
        <activity
            android:name=".androidsurvey.SurveyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>